.content{
	background-color:rgb(119, 241, 250);
	width:100%;
	height:80vh;
}

.anime video{
	position:absolute;
	right:10px;
	bottom:-50px;
	overflow:hidden;
}

.about{
	width:42%;
	padding:20px;
	font-family:Fantacy;
	color:rgb(9, 78, 78);
}

.about h1{
	text-align: center;
	margin:10px 0 70px 0;
}
.about p{
	text-align: justify;
	font-size: 22px;
}

.about video{
	border:none;
}